<div id="back">
    <div id="top">
      <label>Manage <b>Employees</b></label>
      <button id="add" (click)="add(message('firstName'), message('lastName'), message('email'), message('phone'))">Add New Employee</button>
    </div>
    <div id="bottom">
      <table id="list">
        <tr>
          <td>ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Action</td>
        </tr>
        <tr *ngFor="let e of array">
          <td>{{e.employeeId}}</td>
          <td>{{e.firstName}}</td>
          <td>{{e.lastName}}</td>
          <td>{{e.email}}</td>
          <td>{{e.phone}}</td>
        </tr>
      </table>
    </div>
    <div>
      <p id="result"></p>
    </div>
</div>
